<?php $this->headTitle()->append('Заглавная'); // place after other segments     ?>

<br/>
<br/>
<br/>
<?php
if (Zend_Auth::getInstance()->hasIdentity()) {?>
    <h2>Организации</h2>
   <?php echo $this->action('index', 'org', null);
    ?>
<h2>Компьютеры</h2>
<?php
    echo $this->action('index', 'comp', null);
} else {
?>
<div class="hero-unit">
    <h2>Войдите под своим логином и паролем:</h2>
    <p>
        <?php echo $this->action('login', 'auth', null); ?>
    </p>
</div>

    <?php } ?>