<div class="row">
    <div class="span10">
        <?php if (0 < count($this->comps)): ?>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th class="span2">Имя</th>
                <th class="span2">Имя&nbsp;организации</th>
                <th>IP</th>
                <th>Инфо</th>
                <th class="span2">Обновлен</th>
            </tr>
            </thead>
            <tbody>
                <?php $cnt = 1; ?>
                <?php foreach ($this->comps as $comp): ?>
            <tr>
                <td><?php echo $this->escape($cnt++); ?></td>
                <td><a href="<?php echo $this->url(array('cid' => $comp->cid),'comp');?>"><?php echo $this->escape($comp->name); ?></a></td>
                <td><a href="<?php echo $this->url(array('oid' => $comp->oid),'org');?>"><?php echo $this->escape($comp->orgName); ?></a></td>
                <td><?php echo $this->escape($comp->ip); ?></td>
                <td><?php echo $this->escape($comp->info); ?></td>
                <td><?php echo $comp->lastupdate->toString('dd.MM.yyyy <b>HH:mm</b>'); ?></td>
            </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <?php endif; ?>
    </div>
</div>