<?php if (!is_null($this->comp)): ?>

<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span12 well well-small">

                <script type="text/javascript">
                    // Скрипт, включающий тултип
                    $(document).ready(function () {
                        $('#editTip').tooltip({
                            placement:'right',
                            trigger:'focus'});
                    });
                </script>

                <h2><?php echo $this->comp->name; ?> <a class="btn btn-mini" href="#" id="editTip" title='
                <?php if ($this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:comp', 'edit')): ?>
                <a class="btn btn-mini"href="
                <?php echo $this->url(array('controller' => 'comp', 'action' => 'edit', 'cid' => $this->comp->cid), 'default'); ?>">
                <i class="icon-pencil"></i>
                </a>
                <?php endif; ?>
                <?php if ($this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:comp', 'del')): ?>
                        <a class="btn btn-mini btn-danger" data-toggle="modal" href="#deleteIt">
                        <i class="icon-trash icon-white"></i></a>
                        <?php endif; ?>'>
                    <i class="icon-arrow-right"></i></a>

                    <a class="pull-right badge badge-info"
                       href="<?php echo $this->url(array('oid' => $this->comp->oid), 'org'); ?>">
                        <?php echo $this->escape($this->comp->orgName); ?>
                    </a>
                </h2>


            </div>
        </div>

        <div class="row">
            <div class="span12">

                <p>
                    Обновлен: <?php echo $this->comp->lastupdate->toString('dd MMMM yyyy <b>HH:mm</b>'); ?></p>
                <br/>

                <p><span class="label">IP адрес:</span> <?php echo $this->escape($this->comp->ip); ?> </p>
            </div>
        </div>


        <!-- Usr -->
        <?php if (0 < count($this->users)): ?>
        <h2 style="margin-top: 20px;">Пользователи компьютера</h2>
        <br/>
        <?php echo $this->partial('users/users.phtml',
            array('users' => $this->users)); ?>
        <?php endif; ?>
        <!-- /Usr -->


        <div class="row" style="margin-top: 50px;">
            <div class="span12">
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs span3">
                        <li class="active"><a href="#network" data-toggle="tab">Сеть</a></li>
                        <li><a href="#os" data-toggle="tab">ОС</a></li>
                        <li><a href="#drives" data-toggle="tab">Жесткие диски</a></li>
                        <li><a href="#video" data-toggle="tab">Видеокарта</a></li>
                        <li><a href="#cpu" data-toggle="tab">Процессор</a></li>
                        <li><a href="#ram" data-toggle="tab">ОЗУ</a></li>
                        <li><a href="#soft" data-toggle="tab">Софт</a></li>
                        <li><a href="#services" data-toggle="tab">Службы</a></li>
                        <li><a href="#info" data-toggle="tab">Доп. инфо</a></li>
                    </ul>
                    <div class="tab-content span8">
                        <div class="tab-pane active" id="network">
                            <p><b>Информация о
                                сети:</b> <?php echo str_replace("\n", '<br/>', $this->escape($this->comp->network)); ?>
                            </p>
                        </div>
                        <div class="tab-pane" id="os">

                            <p><b>Информация об
                                ОС:</b> <?php echo str_replace("\n", '<br/>', $this->escape($this->comp->os)); ?> </p>
                        </div>
                        <div class="tab-pane" id="drives">

                            <p><b>Информация о
                                дисках:</b><br/> <?php echo str_replace('[/bar]','%;"></div></div><br/>',
                                str_replace('[bar]','<br/><div class="span2 progress"><div class="bar" style="width: ',
                                str_replace("\n", '<br/>', $this->escape($this->comp->drives)))); ?>
                            </p>

                            <p><?php echo str_replace("\n", '<br/>', $this->escape($this->comp->harddrive)); ?>
                            </p>
                        </div>
                        <div class="tab-pane" id="video">

                            <p><b>Информация о
                                видеокарте:</b><br/> <?php echo str_replace("\n", '<br/>', $this->escape($this->comp->video)); ?>
                            </p>
                        </div>
                        <div class="tab-pane" id="cpu">

                            <p><b>Информация о
                                CPU:</b><br/> <?php echo str_replace("\n", '<br/>', $this->escape($this->comp->cpu)); ?>
                            </p>
                        </div>
                        <div class="tab-pane" id="ram">

                            <p><b>Информация о
                                ОЗУ:</b><br/> <?php echo str_replace("\n", '<br/>', $this->escape($this->comp->ram)); ?>
                            </p>
                        </div>
                        <div class="tab-pane" id="soft">

                            <p><b>Информация о
                                софте:</b><br/> <?php echo str_replace("\n", '<br/>', $this->escape($this->comp->soft)); ?>
                            </p>
                        </div>
                        <div class="tab-pane" id="services">

                            <p><b>Информация о
                                службах:</b><br/> <?php echo str_replace('&amp;quot;', '&quot;', // Почему то эскейпится 2 раза
                                str_replace('Started: True', '<b>Started: True</b>',
                                    str_replace("\n", '<br/>', $this->escape($this->comp->services)))); ?> </p>
                        </div>
                        <div class="tab-pane" id="info">

                            <p><b>Дополнительная
                                информация:</b> <?php echo $this->escape($this->comp->info); ?> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<?php if ($this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:comp', 'del')): ?>
    <div class="modal hide" id="deleteIt">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>

            <h3>Действительно удалить?</h3>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="<?php echo $this->url(array('controller' => 'comp', 'action' => 'del', 'cid' => $this->comp->cid), 'default'); ?>"
               class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</a>
        </div>
    </div>
    <?php endif; ?>

<?php endif; ?>