<?php if (!is_null($this->user)): ?>

<div class="row">
    <div class="span6">
        <div class="row">
            <div class="span6 well well-small">

                <script type="text/javascript">
                    // Скрипт, включающий тултип
                    $(document).ready(function () {
                        $('#editTip').tooltip({
                            placement:'right',
                            trigger:'focus'});
                    });
                </script>

                <h2><?php echo $this->user->login; ?> <a class="btn btn-mini" href="#" id="editTip" title='

                <?php if ($this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:users', 'editprofile')): ?>
                <a class="btn btn-mini" href="
                <?php echo $this->url(array('controller' => 'users', 'action' => 'editprofile', 'uid' => $this->user->uid), 'default'); ?>">
                <i class="icon-pencil"></i>
                </a>
                <?php endif; ?>


                <?php if ((Zend_Auth::getInstance()->getIdentity()->uid === $this->user->uid)
                    && $this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:users', 'editself')
                ): ?>
                <a class="btn btn-mini btn-inverse" href="
                <?php echo $this->url(array('controller' => 'users', 'action' => 'editself'), 'default'); ?>">
                <i class="icon-pencil icon-white"></i>
                </a>
                <?php endif; ?>

                <?php if ($this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:users', 'addorg')): ?>
                        <a class="btn btn-mini" href="
                <?php echo $this->url(array('uid' => $this->user->uid), 'uoadd'); ?>">
                        <i class="icon-user"></i></a>
                            <?php endif; ?>

                <?php if ($this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:users', 'addcomp')): ?>
                        <a class="btn btn-mini" href="
                <?php echo $this->url(array('uid' => $this->user->uid), 'ucadd'); ?>">
                        <i class="icon-th-large"></i></a>
                            <?php endif; ?>

                <?php if ($this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:users', 'del')): ?>
                        <a class="btn btn-mini btn-danger" data-toggle="modal" href="#deleteIt">
                        <i class="icon-trash icon-white"></i></a>
                            <?php endif; ?>

                        '>
                    <i class="icon-arrow-right"></i></a>

                    <?php if ('admin' == $this->user->role) { ?> <span
                        class="label label-success">Администратор</span>  <?php } ?>

                    <?php if (('admin' == $this->user->role)
                        || $this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:msg', 'sendnotadmins')
                    ): ?>
                        <a href="<?php echo $this->url(array('ruid' => $this->user->uid), 'sendmsg'); ?>"
                           class="btn btn-inverse btn-large pull-right"><i
                            class="icon-envelope icon-white"></i><?php if('admin' == $this->user->role) { ?> Заявка <?php } ?></a>
                        <?php endif; ?>
                </h2>

                <!-- org buttons -->
                <?php if ((Zend_Auth::getInstance()->getIdentity()->uid == $this->user->uid)
                || $this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:users', 'viewuserorg')
            ): ?>
                <div class="btn-toolbar">


                    <?php foreach ($this->user->oids as $oid => $orgname): ?>

                    <?php if ($this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:users', 'delorg')) { ?>
                        <span class="btn-group"><a class="btn btn-mini btn-primary"
                                                   href="<?php echo $this->url(array('oid' => $oid), 'org'); ?>">
                            <?php echo $orgname; ?>
                        </a>
                            <a class="btn btn-mini" href="<?php echo $this->url(array('controller' => 'users',
                                'action' => 'delorg',
                                'uid' => $this->user->uid,
                                'oid' => $oid), 'default'); ?>">&times;</a>
                        </span>

                        <?php } else { ?>
                        <a class="btn btn-mini btn-primary"
                           href="<?php echo $this->url(array('oid' => $oid), 'org'); ?>">
                            <?php echo $orgname; ?>
                        </a>
                        <?php } ?>
                    <?php endforeach; ?>


                </div>
                <?php endif; ?>
                <!-- / org buttons -->
            </div>
        </div>

        <div class="row">
            <div class="span6"><p>
                <br/>
                <!-- comp buttons -->
                <?php if ((Zend_Auth::getInstance()->getIdentity()->uid == $this->user->uid)
                    || $this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:users', 'viewusercomp')
                ): ?>

                    <div class="btn-toolbar">
                <span class="btn-group"><span class="btn btn-small"> Компьютеры:</span>
                    <?php foreach ($this->user->cids as $cid => $cname): ?>
                        <a class="btn btn-small btn-info"
                           href="<?php echo $this->url(array('cid' => $cid), 'comp'); ?>">
                            <?php echo $cname; ?>
                        </a>
                        <?php endforeach; ?>
                </span>
                    </div>

                    <?php endif; ?>
                <!-- / comp buttons -->
                <br/>

                <p><b>Имя: </b><?php echo $this->escape($this->user->firstname); ?></p>

                <p><b>Фамилия: </b><?php echo $this->escape($this->user->lastname); ?></p>

                <p><span class="label">Email:</span> <?php echo $this->escape($this->user->email); ?></p>

                <p><b>Телефон: </b><?php echo $this->escape($this->user->telefon); ?></p>

                <p><b>Дополнительная информация: </b><?php echo $this->escape($this->user->info); ?></p>
            </div>
        </div>
    </div>
</div>
<?php if ($this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:users', 'del')): ?>
    <div class="modal hide" id="deleteIt">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>

            <h3>Действительно удалить?</h3>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="<?php echo $this->url(array('controller' => 'users', 'action' => 'del', 'uid' => $this->user->uid), 'default'); ?>"
               class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</a>
        </div>
    </div>
    <?php endif; ?>


<?php endif; ?>