<div class="row">
    <div class="span10">
        <?php if (0 < count($this->users)): ?>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Логин</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>Доп. инфо</th>
            </tr>
            </thead>
            <tbody>
                <?php $cnt = 1;?>
                <?php foreach ($this->users as $usr): ?>
                <?php  $isAdmin = ('admin' == $usr->role); ?>
                <tr>
                <td><?php echo $this->escape($cnt++); ?></td>
                <td><?php if($isAdmin) { ?> <span class="label label-success">admin</span>
                    <a href="<?php echo $this->url(array('ruid' => $usr->uid), 'sendmsg'); ?>" class="btn btn-success btn-mini">
                        <i class="icon-envelope icon-white"></i></a> <?php } ?>
                    <a href="<?php echo $this->url(array('uid' => $usr->uid),'user');?>"><?php echo $this->escape($usr->login); ?></a></td>
                <td><?php echo $this->escape($usr->firstname); ?></td>
                <td><?php echo $this->escape($usr->lastname); ?></td>
                <td><?php echo $this->escape($usr->email); ?></td>
                <td><?php echo $this->escape($usr->telefon); ?></td>
                <td><?php echo $this->escape($usr->info); ?></td>
            </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <?php endif; ?>
    </div>
</div>