
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </a>
            <a class="brand" href="<?php $this->baseUrl();?>">Symro 
                <?php echo (Zend_Auth::getInstance()->hasIdentity()? Zend_Auth::getInstance()->getIdentity()->login : '' ); ?></a>
            <div class="nav-collapse">

                <?php
                echo '<ul class="nav">';
// loop root level (only has Home, but later may have an Admin root page?)
                foreach ($this->container as $page) {
                    if ($this->navigation()->accept($page)) {
                        $pp = $page->getPages();
                        if (empty($pp)) {
                            // check if it is active (not recursive)
                            $isActive = $page->isActive(false);
                            $liClass = $isActive ? ' class="active"' : '';
                            echo '    <li ' . $liClass . '>' . $this->menu()->htmlify($page) . '</li>', PHP_EOL, PHP_EOL;
                            // loop next level 
                        } else {
                            $isActive = $page->isActive(false);
                            $liClass = ($isActive ? 'class="dropdown active"' : 'class="dropdown"');
                            echo '    <li ' . $liClass . '><a href="#" class="dropdown-toggle" data-toggle="dropdown"' . '>' . $page->getLabel()
                            . '<b class="caret"></b></a>', PHP_EOL, '        <ul class="dropdown-menu">', PHP_EOL,
                            '        <li' . ($isActive ? ' class="active"' : '') . '>' . $this->menu()->htmlify($page) . '</li>', PHP_EOL;
                            // loop next level 
                            foreach ($page as $pageinner) {
                                if ($this->navigation()->accept($pageinner)) {
                                    // check if it is active (recursive)
                                    $isActive = $pageinner->isActive(true);
                                    $liClass = $isActive ? ' class="active"' : '';
                                    echo '          <li ' . $liClass . '>' . $this->menu()->htmlify($pageinner) . '</li>', PHP_EOL;
                                }
                            }
                            echo '  </li></ul>', PHP_EOL;
                        }
                    }
                }
                echo '</ul>';
                ?>


            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>