 <?php if(!empty($this->messages)) { ?>
        

        <?php foreach ($this->messages as $message) : ?>
            <div class="alert alert-block alert-success fade in">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
            <p> <?php echo $message; ?> </p>
    </div>
        <?php endforeach;?>

<?php } ?>

<?php if(!empty($this->messagesErrors)) { ?>
        <?php foreach ($this->messagesErrors as $message) : ?>
    <div class="alert alert-block alert-error fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
            <p> <?php echo $message; ?> </p>
    </div>
        <?php endforeach;?>
<?php } ?>