<!--

See http://developer.yahoo.com/ypatterns/pattern.php?pattern=searchpagination

-->


<?php if ($this->pageCount): ?>

<div class="pagination pagination-centered">
<ul>

<!-- First page link -->

<?php if (isset($this->previous)): ?>

 <li> <a href="<?php echo $this->url(array('av' => $this->first)); ?>">

    ««

  </a> </li>

<?php else: ?>

  <li class="disabled"><a href="#">««</a></li>

<?php endif; ?>    
    
    
<!-- Previous page link -->

<?php if (isset($this->previous)): ?>

 <li> <a href="<?php echo $this->url(array('av' => $this->previous)); ?>">

    «

  </a> </li>

<?php else: ?>

  <li class="disabled"><a href="#">«</a></li>

<?php endif; ?>

 

<!-- Numbered page links -->

<?php foreach ($this->pagesInRange as $page): ?>

  <?php if ($page != $this->current): ?>
<li>
    <a href="<?php echo $this->url(array('av' => $page)); ?>">

        <?php echo $page; ?>

    </a> 
</li>
  <?php else: ?>
<li class="active">
   <a href="#"> <?php echo $page; ?></a>
</li>
  <?php endif; ?>

<?php endforeach; ?>

 

<!-- Next page link -->

<?php if (isset($this->next)): ?>
<li>
  <a href="<?php echo $this->url(array('av' => $this->next)); ?>">

    »

  </a>
</li>
<?php else: ?>

 <li class="disabled"><a href="#">»</a></li>

<?php endif; ?>
 
 <!-- Last page link -->
 <?php if (isset($this->next)): ?>
<li>
  <a href="<?php echo $this->url(array('av' => $this->last)); ?>">

    »»

  </a>
</li>
<?php else: ?>

 <li class="disabled"><a href="#">»»</a></li>

<?php endif; ?>


</ul>
</div>
<?php endif; ?>
