<div class="row">
    <div class="span3">
        <br/>
        <br/>
        <div class="row">
            <div class="span6">
                <p><span class="label">Логин:</span> <?php echo $this->agent->login; ?> </p>
                <p><span class="label">Пароль:</span> <?php echo $this->agentPwd; ?> </p>
            </div>
        </div>
    </div>
</div>