<div class="row">
    <div class="span7">
        <h3><a href="<?php echo $this->url(array(
            'oid' => $this->org->oid), 'org'); ?>"><?php echo $this->org->name; ?></a></h3>
        <textarea rows="7" cols="60" class="span6" readonly="readonly">[main]
<?php foreach ($this->config->toArray() as $key => $value): ?>
<?php echo $key . '=' . $value . "\n"; ?>
<?php endforeach; ?>
        </textarea>
    </div>
</div>

<div class="row">
    <div class="span7">
        <i class="icon-download"></i> <a href="<?php echo $this->url(array(
        'controller' => 'org',
        'action' => 'config',
        'oid' => $this->org->oid,
        'format' => 'ini'), 'default'); ?>">Скачать ini</a>
        <br/>
        <i class="icon-list-alt"></i> <a href="<?php echo $this->url(array(
        'controller' => 'org',
        'action' => 'config',
        'oid' => $this->org->oid,
        'format' => 'xml'), 'default'); ?>">В виде xml</a>
    </div>
</div>