<div class="row">
    <div class="span10">
        <?php if (0 < count($this->orgs)): ?>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Префикс</th>
                        <th>Контактная информация</th>
                        <th>Телефон</th>
                    </tr>
                </thead>
                <tbody>
                    <?php $cnt = 1; ?>
                    <?php foreach ($this->orgs as $org): ?>
                        <tr>
                            <td><?php echo $this->escape($cnt++); ?></a></td>
                            <td><a href="<?php echo $this->url(array('oid' => $org->oid),'org');?>"><?php echo $this->escape($org->name); ?></a></td>
                            <td><?php echo $this->escape($org->prefix); ?></td>
                            <td><?php echo $org->contacts; ?></td>
                            <td><?php echo $this->escape($org->telefon); ?></td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php endif; ?>
    </div>
</div>