<?php if (!is_null($this->org)): ?>




<div class="row">
    <div class="span3">
        <br/>
        <br/>

        <div class="row">
            <div class="span6">

                <script type="text/javascript">
                    // Скрипт, включающий тултип
                    $(document).ready(function () {
                        $('#editTip').tooltip({
                            placement:'right',
                            trigger:'focus'});
                    });
                </script>

                <h2><?php echo $this->org->name; ?>
                    <a class="btn btn-mini" href="#" id="editTip" title='
                    <?php if ($this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:org', 'edit')): ?>
                <a class="btn btn-mini"href="
                <?php echo $this->url(array('controller' => 'org', 'action' => 'edit', 'oid' => $this->org->oid), 'default'); ?>">
                <i class="icon-pencil"></i>
                </a>
                <?php endif; ?>
                <?php if($this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:org', 'del')): ?>
                        <a class="btn btn-mini btn-danger" data-toggle="modal" href="#deleteIt">
                        <i class="icon-trash icon-white"></i></a>
                        <?php endif; ?>'>
                        <i class="icon-arrow-right"></i></a>

                </h2>

                <p><span class="label">Телефон:</span> <?php echo $this->org->telefon; ?> </p>

                <p><span class="label">Доп. телефон:</span> <?php echo $this->org->telefon2; ?> </p>

                <p><b>Дополнительная информация:</b> <?php echo $this->org->contacts; ?> </p>
            </div>
        </div>
    </div>
</div>

<?php if ($this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:org', 'config')): ?>
<div class="row">
    <div class="span6">
        <?php if ($this->isAgentInitialized) { ?>
        <div class="alert alert-success alert-block">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Агент готов к использованию</h4>
            Вы можете скачать необходимый конфиг для подключения по ссылке ниже
            <br/>
            <br/>
            <a href="<?php echo $this->url(array('controller' => 'org', 'action' => 'config', 'oid' => $this->org->oid), 'default'); ?>"><i
                class="icon-cog"></i>Просмотреть конфиг</a>
        </div>

        <?php } else { ?>
        <div class="alert alert-error alert-block">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Внимание!</h4>
            Агент не проинициализирован. Для использования агента, необходимо пройти процесс инициализации агента в бд.
            <br/>
            <br/>
            <a href="<?php echo $this->url(array('controller' => 'org', 'action' => 'agentcreate', 'oid' => $this->org->oid), 'default'); ?>"><i
                class="icon-refresh"></i>Проинициализировать агента</a>
        </div>
        <?php } ?>

    </div>
</div>
<?php endif; ?>

<?php if($this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:org', 'del')): ?>

<div class="modal hide" id="deleteIt">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>

        <h3>Действительно удалить?</h3>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="<?php echo $this->url(array('controller' => 'org', 'action' => 'del', 'oid' => $this->org->oid), 'default'); ?>"
           class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</a>
    </div>
</div>
    <?php endif; ?>

    <!-- Comps -->
<?php if (0 < count($this->comps)): ?>
    <h2 style="margin-top: 20px;">Компьютеры организации</h2>
    <br/>
<?php echo $this->partial('comp/comps.phtml',
        array('comps' => $this->comps)); ?>
<?php endif; ?>
<!-- /Comps -->

<!-- Usr -->
<?php if (0 < count($this->users)): ?>
    <h2 style="margin-top: 20px;">Пользователи организации</h2>
    <br/>
<?php echo $this->partial('users/users.phtml',
        array('users' => $this->users)); ?>
<?php endif; ?>
<!-- /Usr -->

<?php endif; ?>

