<?php if (0 < count($this->msgSet)) {
    foreach ($this->msgSet as $msg):
        ?>
    <table class="span8 table table-bordered">
        <thead>
        <tr>
            <th>
                <div class="msg" id="msg<?php echo $msg->mid; ?>">
                    <div class="msgName">Кому: <a href="<?php echo $this->url(array('uid' => $msg->ruid), 'user');?>">
                        <?php echo $this->escape($msg->sender->firstname . ' ' . $msg->sender->lastname . ' [' . $msg->sender->login . ']'); ?></a>
                    </div>
            </th>
            <th>
                <div class="msgdate"><?php echo $msg->datetime; ?></div>

            </th>
        </tr>
        <tr>
            <th>
                Статус:
            </th>

            <th>
                <span class="label"> <?php echo $this->escape($msg->status);?></span>
            </th>

        </tr>
        <tr>
            <th>
                Контрольная дата:
            </th>

            <th>
                <span class="badge label-info"><?php echo $msg->controldate->toString('dd-MM-YYYY'); ?> <span class="label label-warning">
                    <?php echo round($msg->controldate->sub(new Zend_Date())->toValue() / 60 / 60 / 24);?></span></span>
            </th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div
                    class="msgsubj">
                    <a href="<?php echo $this->url(array('mid' => $msg->mid), 'readmsg'); ?>">
                        <?php echo $this->escape($msg->subject); ?></a></div>
            </td>

            <td>
                <div class="sendmore">
                    <a class="btn" href="<?php echo $this->url(array('ruid' => $msg->ruid), 'sendmsg'); ?>">Еще</a>
                </div>
            </td>

        </tr>


        <tr>
            <td colspan="2"><?php echo substr($msg->text, 0, 100); ?></td>

        </tr>
        </tbody>

    </table>
    <br/>

    <?php endforeach;
}
?>


