<?php if (!is_null($this->msg)) { ?>

<table class="span8 table table-bordered">
    <thead>
    <tr>
        <th>
            <div class="msg" id="msg<?php echo $this->escape($this->msg->mid); ?>">
                <div class="msgName">От: <a href="<?php echo $this->url(array('uid' => $this->msg->suid), 'user');?>">
                    <?php echo $this->escape($this->msg->sender->firstname . ' ' . $this->msg->sender->lastname . ' [' . $this->msg->sender->login . ']'); ?></a>
                </div>
        </th>
        <th>
            <div class="msgdate"><?php echo $this->msg->datetime; ?></div>

        </th>
    </tr>
    <tr>
        <th>
            <div class="msg" id="msg<?php echo $this->escape($this->msg->mid); ?>">
                <div class="msgName">Кому: <a href="<?php echo $this->url(array('uid' => $this->msg->suid), 'user');?>">
                    <?php echo $this->escape($this->msg->recipient->firstname . ' ' . $this->msg->recipient->lastname . ' [' . $this->msg->recipient->login . ']'); ?></a>
                </div>
        </th>
        <th>
            <div class="msgdate"><?php echo $this->msg->datetime; ?></div>

        </th>
    </tr>
    <tr>
        <th>
            Статус:
        </th>

        <th>
            <span class="label"> <?php echo $this->escape($this->msg->status);?></span>
        </th>

    </tr>
    <tr>
        <th>
            Контрольная дата:
        </th>

        <th>
                <span class="badge label-info"><?php echo $this->msg->controldate->toString('dd-MM-YYYY'); ?> <span class="label label-warning">
                    <?php echo round($this->msg->controldate->sub(new Zend_Date())->toValue() / 60 / 60 / 24);?></span></span>
        </th>

    </tr>
    <?php if ($this->acl->isAllowed(Zend_Auth::getInstance()->getIdentity()->role, 'mvc:msg', 'changestatus')): ?>
    <tr>
        <th colspan="2">

            <a class="btn btn-info" href="<?php echo $this->url(array('controller' => 'msg', 'action' => 'changestatus',
                'mid' => $this->msg->mid), 'default'); ?>">Изменить статус</a>
        </th>

    </tr>
    <?php endif; ?>
    </thead>
    <tbody>
    <tr>
        <td>
            <div
                class="msgsubj"><?php echo (('new' == $this->msg->status) ? '<span class="label label-info">Новое</span>' : null) ?>
                <a href="<?php echo $this->url(array('mid' => $this->msg->mid), 'readmsg'); ?>">
                    <?php echo $this->escape($this->msg->subject); ?></a></div>
        </td>

        <td>
            <div class="sendmore">
                <a class="btn" href="<?php echo $this->url(
                    array('ruid' => (Zend_Auth::getInstance()->getIdentity()->uid == $this->msg->suid)
                        ? $this->msg->ruid
                        : $this->msg->suid), 'sendmsg'); ?>">Ответить</a>
            </div>
        </td>

    </tr>
    <tr>
        <td colspan="2"><?php echo $this->msg->text; ?></td>

    </tr>
    </tbody>

</table>
<?php } ?>
