<?php echo $this->doctype(); ?>
<html lang="ru">
    <head>


        <?php echo $this->headTitle(); ?>
        <?php echo $this->headMeta(); ?>

        <?php echo $this->headLink(); ?>

        <!-- Le styles -->


        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        	  
            

        <?php echo $this->headScript(); ?>

    </head>

    <body>

    
            <?php
            $partial = array('menu.phtml', 'default');

            $this->navigation()->menu()->setPartial($partial);

            echo $this->navigation()->menu()->render();
            
           ?>


        <div class="container">
        <?php /*if($this->navigation()->findOneBy('active', 1)) {// ?><h1><?php echo $this->navigation()->findOneBy('active', 1)->getLabel(); ?></h1> <?php }*/?>

<?php  echo $this->layout()->messages;  ?>
<?php echo $this->layout()->content; ?>



        </div> <!-- /container -->


    </body>
</html>
